* {
    margin: 0;
    padding: 0;
}

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */

.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: #F7F7F7;
    margin: 0 8.75rem;
}


.orange{
    color: #FEA301;
}

.sky-blue{
    color: #01ACFD;
}

.display-flex{
    display: flex;
}



.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.nav-title{
    font-size: 2rem;
    font-weight: bold;
}

.nav-icon-container{
    align-items: center;
    gap: 11px;
}

.nav-link-container{
    gap: 2rem;
}

.nav-link-container a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.a3{
    color: #05D4DF;
}

.a4{
    color: #5D58EF;
}

.button1{
    font-size: 1.25rem;
    font-weight: 600;
    width: 200px;
    height: 50px;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    background-color: #FEA301;
}

.button2{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 47px;
    color: #F7F7F7;
    background-color: #111111;
    border: none;
    border-radius: 12px;
    width: 200px;
}

/* hero section styles */
.hero{
    gap: 50px;
    align-items: center;
}

.hero-content{
    flex-direction: column;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-sub-title{
    font-size: 1.25rem;
    color: #111111;
    margin: 24px 0;
}








@media screen and (max-width: 576px) {
    body{
        margin: 0 1rem;
        max-width: 100vw;
    }
    
    .nav-title,
    .button1,
    .nav-link-container{        
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
        /* justify-content: center; */
        /* align-items: center; */
        text-align: center;
        max-width: 100vw;
    }

    .button2{
        margin: 0 auto;
    }
    .hero-img img{
        max-width: 337px;

    }
    
    .hero-title{
        font-size: 2rem;
    }

    .hero-sub-title{
        font-size: 0.875rem;
    }
}

/* curriculum section styles */
.curriculum-cards-container{
    gap: 28.5px;
    margin-bottom: 80px;
}

.section-title{
    font-size: 2.8rem;
    color: #000000;
    margin: 60px 0 80px;
    text-align: center;
}

.curriculum-card{
    /* flex-direction: column; */
    text-align: center;
    padding: 50px 40px;
    border-radius: 19px;
    box-shadow: 0 0 28px 10px rgba(0, 0, 0, 0.05);
}

.card-title{
    color: #202020;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 32px 0;
}

.card-discription{
    font-size: 0.95rem;
    color: #808080;
    font-weight: 400;
    margin-bottom: 34px;
}

.card-btn{
    border: none;
    background-color: #F7F7F7;
    font-size: 0.95rem;
    font-weight: bold;
}

.cb1{
    color: #64C8FF;
}

.cb2{
    color: #F0AA00;
}

.cb3{
    color: #8700FF;
}

.ccd1{
    /* background: linear-gradient(to bottom, #DEF5FF, #FFFFFF); */
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
}

.ccd2{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%);
}

.ccd3{
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
}

.arrow-btn-container{
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.arrow-btn{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #FEA301;
    margin-bottom: 60px;
    font-size: 1.5rem;
    color: #ffffff;
    box-sizing: border-box;
    padding-top: 15px;
}